html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

body {
  font-family: 'Vela Sans';
  background: #f9f9f9;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: #121212; }

a {
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.5s !important; }
  a:hover {
    color: #22385f; }

.container {
  padding: 0 15px;
  max-width: 1311px;
  margin: 0 auto; }
  @media (max-width: 1199px) {
    .container {
      max-width: 960px !important; } }
  @media (max-width: 991px) {
    .container {
      max-width: 720px !important; } }
  @media (max-width: 767px) {
    .container {
      max-width: 540px !important; } }

.d-flex, .q {
  display: flex; }

.body-wrap {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.blue {
  color: #93bdff; }

footer {
  margin-top: auto; }

h1 {
  color: #1d2636;
  font-size: 61px;
  line-height: 107%;
  font-weight: 700;
  margin: 0; }

h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 55px; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p {
  margin: 0; }

a {
  transition: color 0.5s ease;
  box-sizing: border-box; }

li a {
  transition: color 0.5s ease; }

button {
  cursor: pointer;
  box-sizing: border-box; }

textarea {
  transition: border 0.5s;
  box-sizing: border-box; }
  textarea:focus {
    transition: border 0.5s;
    outline: none;
    border: 1px solid #050b2e; }

input {
  transition: 0.5s;
  box-sizing: border-box;
  border: 1px solid #fff; }
  input:disabled {
    pointer-events: none;
    opacity: 0.5; }
  input:focus {
    border: 1px solid #22385f;
    transition: 0.5s; }
  input:focus-visible {
    outline: initial; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  display: none; }

path {
  transition: fill 0.5s, stroke 0.5s; }

div {
  box-sizing: border-box; }

.icon {
  transition: fill 0.5s, stroke 0.5s; }

html * {
  scrollbar-width: thin;
  scrollbar-color: blue #22385f; }

*::-webkit-scrollbar {
  height: 4px;
  width: 4px; }

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: #E7E7E7;
  border-radius: 0px; }

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: #22385f;
  border-radius: 0px; }

.btn {
  background: #22385f;
  display: flex;
  position: relative;
  border-radius: 900px;
  align-items: center;
  justify-content: center;
  width: 238px;
  height: 70px;
  border: 1px solid #22385f;
  transition: 0.5s;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 34px; }
  .btn:hover {
    background: #93bdff;
    border: 1px solid #93bdff;
    color: white; }
  .btn img {
    margin-left: 7px; }

@font-face {
  font-family: 'Vela Sans';
  src: url("../fonts/VelaSans-SemiBold.eot");
  src: url("../fonts/VelaSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/VelaSans-SemiBold.woff2") format("woff2"), url("../fonts/VelaSans-SemiBold.woff") format("woff"), url("../fonts/VelaSans-SemiBold.ttf") format("truetype"), url("../fonts/VelaSans-SemiBold.svg#VelaSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Vela Sans';
  src: url("../fonts/VelaSans-ExtraLight.eot");
  src: url("../fonts/VelaSans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/VelaSans-ExtraLight.woff2") format("woff2"), url("../fonts/VelaSans-ExtraLight.woff") format("woff"), url("../fonts/VelaSans-ExtraLight.ttf") format("truetype"), url("../fonts/VelaSans-ExtraLight.svg#VelaSans-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Vela Sans';
  src: url("../fonts/VelaSans-Light.eot");
  src: url("../fonts/VelaSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/VelaSans-Light.woff2") format("woff2"), url("../fonts/VelaSans-Light.woff") format("woff"), url("../fonts/VelaSans-Light.ttf") format("truetype"), url("../fonts/VelaSans-Light.svg#VelaSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Vela Sans';
  src: url("../fonts/VelaSans-ExtraBold.eot");
  src: url("../fonts/VelaSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/VelaSans-ExtraBold.woff2") format("woff2"), url("../fonts/VelaSans-ExtraBold.woff") format("woff"), url("../fonts/VelaSans-ExtraBold.ttf") format("truetype"), url("../fonts/VelaSans-ExtraBold.svg#VelaSans-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Vela Sans';
  src: url("../fonts/VelaSans-Medium.eot");
  src: url("../fonts/VelaSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/VelaSans-Medium.woff2") format("woff2"), url("../fonts/VelaSans-Medium.woff") format("woff"), url("../fonts/VelaSans-Medium.ttf") format("truetype"), url("../fonts/VelaSans-Medium.svg#VelaSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Vela Sans';
  src: url("../fonts/VelaSans-Bold.eot");
  src: url("../fonts/VelaSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/VelaSans-Bold.woff2") format("woff2"), url("../fonts/VelaSans-Bold.woff") format("woff"), url("../fonts/VelaSans-Bold.ttf") format("truetype"), url("../fonts/VelaSans-Bold.svg#VelaSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Vela Sans';
  src: url("../fonts/VelaSans-Regular.eot");
  src: url("../fonts/VelaSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/VelaSans-Regular.woff2") format("woff2"), url("../fonts/VelaSans-Regular.woff") format("woff"), url("../fonts/VelaSans-Regular.ttf") format("truetype"), url("../fonts/VelaSans-Regular.svg#VelaSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #87898c !important; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #87898c !important; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #87898c !important; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #87898c !important; }

.menu-btn, .menu {
  display: none; }

.tabs__pane {
  display: none; }

.tabs__pane_show {
  display: block; }

.tabs__btn_active {
  color: #20252d; }

.close-popup, .close {
  position: absolute;
  top: 17px;
  right: 15px;
  cursor: pointer;
  width: 19px;
  height: 19px;
  transition: 0.5s;
  fill: black;
  transform: rotate(0deg);
  z-index: 20; }
  .close-popup:hover, .close:hover {
    transform: rotate(90deg); }

.popup__bg, .popup__bg2, .popup__bg3, .popup__bg4 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(29, 38, 54, 0.93);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
  overflow-y: auto;
  overflow-x: hidden; }

.popup__bg.active, .order.active, .popup__bg2.active, .popup__bg3.active, .popup__bg4.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
  z-index: 22; }

.popup, .popup2, .popup3, .popup4 {
  position: absolute;
  top: 25rem;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: max-content;
  transition: 0.5s all;
  border-radius: 15px;
  background: white;
  height: auto;
  padding: 35px;
  width: 528px; }

.popup2 {
  width: 736px; }

.popup.active, .popup2.active, .popup3.active, .popup4.active {
  transform: translate(-50%, -46%) scale(1);
  transition: 0.5s all; }

.pop h2 {
  text-align: center;
  margin-bottom: 25px; }

.pop .pay__flex {
  flex-direction: column; }
  .pop .pay__flex .pay__item {
    width: 100%; }

.pop .pay__btn {
  width: 100%;
  margin: 15px auto; }

.pop__sub {
  color: #1d2636;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 20px;
  text-align: center; }

.pop__btn {
  width: 100%; }

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  display: none; }

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-checkbox + label, .custom-checkbox + label + label {
  display: flex;
  align-items: flex-start;
  user-select: none;
  cursor: pointer;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF; }

.custom-checkbox + label::before, .custom-checkbox + label + label::before {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  display: flex;
  flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background: #22385f;
  margin-right: 20px;
  flex: 1 0 auto;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  transition: 0.2s;
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%; }

.custom-checkbox + label#check-error::before {
  display: none; }

.custom-checkbox:checked + label::before, .custom-checkbox:checked + label + label::before {
  background: url(../img/check.svg) no-repeat center center;
  background-color: #22385f; }

.swiper-pagination {
  display: flex;
  justify-content: center;
  bottom: 19px;
  position: absolute;
  z-index: 2; }

.swiper-pagination-bullet {
  width: 52px;
  height: 2px;
  background-color: #ffffff;
  opacity: 0.2; }

.swiper-pagination-bullet-active {
  background-color: #22385f !important;
  opacity: 1; }

.mob {
  display: none; }

.nav {
  padding: 16px 0; }
  .nav__box {
    align-items: center;
    justify-content: space-between; }
  .nav ul {
    display: flex;
    flex-wrap: wrap;
    position: relative; }
    .nav ul li {
      margin-right: 55px; }
      .nav ul li:last-child {
        margin-right: 0; }
      .nav ul li a {
        color: #121212;
        font-size: 13px;
        font-weight: 700;
        line-height: 34px; }
        .nav ul li a:hover {
          color: #93bdff; }
  .nav__info {
    align-items: center; }
  .nav__tel {
    align-items: center; }
    .nav__tel p {
      color: #121212;
      font-size: 16px;
      font-weight: 600;
      margin-left: 11px;
      transition: 0.5s; }
    .nav__tel:hover p {
      color: #93bdff; }
  .nav__btn {
    margin-left: 11px;
    width: 161px;
    background: white;
    border: 1px solid white;
    height: 45px;
    color: #22385f;
    font-size: 14px;
    font-weight: 700; }

.header {
  background: #e5eaf1;
  padding-bottom: 147px; }
  .header__box {
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 57px; }
  .header__fig {
    position: absolute;
    right: -100px;
    z-index: 0;
    bottom: -148px; }
  .header__content {
    width: 100%;
    max-width: 618px;
    flex: 1 0 auto; }
    .header__content h1 {
      margin-bottom: 22px;
      letter-spacing: -0.04em; }
    .header__content p {
      margin-bottom: 22px;
      color: #585e69;
      font-size: 19px;
      letter-spacing: -0.02em;
      line-height: 30px; }
  .header__links a {
    height: 70px;
    font-size: 16px;
    font-weight: 600; }
  .header__btn {
    width: 238px;
    margin-right: 15px; }
    .header__btn .icon {
      width: 18px;
      height: 18px;
      stroke: white;
      margin-left: 10px; }
  .header__link {
    width: 250px;
    border: 1px solid white;
    background: white;
    color: #22385f; }
    .header__link .icon {
      width: 18px;
      stroke: #22385f;
      height: 18px;
      margin-left: 10px; }
    .header__link:hover {
      border: 1px solid #1d2636;
      background: #1d2636; }
      .header__link:hover .icon {
        stroke: white; }
  .header__pic {
    position: relative;
    left: -56px;
    top: 32px; }

.info {
  padding: 90px 0;
  background: #f9f9f9; }
  .info__box {
    justify-content: space-between;
    margin-top: 50px; }
  .info__item {
    width: 24.39%;
    height: auto;
    background: white;
    padding: 35px 30px 35px 35px;
    border-radius: 12px; }
    .info__item h3 {
      margin-top: 0;
      letter-spacing: -0.02em;
      margin-bottom: 5px;
      color: #1d2636;
      font-size: 17px;
      font-weight: 600;
      line-height: 25px; }
    .info__item img {
      margin-bottom: 10px;
      width: 62px;
      height: 62px; }
    .info__item p {
      color: #474c55;
      font-size: 14px;
      line-height: 22px; }

.item {
  background: white;
  padding: 90px 0; }
  .item .tabs__nav {
    border-bottom: 1px solid #e4e4e4;
    margin-top: 50px; }
    .item .tabs__nav a {
      padding: 0 54px;
      width: max-content;
      height: 59px;
      border-radius: 8px 8px 0px 0px;
      border: 1px solid transparent;
      border-bottom: 1px solid transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      padding-top: 2px; }
      .item .tabs__nav a:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -13px;
        left: 0px;
        transition: 0.5s;
        width: 100%;
        height: 14px;
        background: white;
        opacity: 0; }
      .item .tabs__nav a p {
        color: #121212;
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        border-bottom: 1px dashed #22385f;
        transition: 0.5s; }
      .item .tabs__nav a.tabs__btn_active {
        border: 1px solid #e4e4e4; }
        .item .tabs__nav a.tabs__btn_active p {
          border-bottom: 1px dashed transparent !important; }
        .item .tabs__nav a.tabs__btn_active:after {
          opacity: 1; }
      .item .tabs__nav a:hover p {
        color: #93bdff;
        border-bottom: 1px dashed #93bdff; }
  .item__box {
    margin-top: 23px;
    border-radius: 12px;
    background: #f9f9f9;
    padding: 35px 35px 20px;
    justify-content: space-between;
    flex-wrap: wrap; }
  .item__block {
    height: 78px;
    width: 49%;
    border: 1px solid #efefef;
    border-radius: 10px;
    background: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transition: 0.5s;
    padding: 20px;
    justify-content: space-between; }
    .item__block:hover {
      border: 1px solid #99a7be;
      box-shadow: 0px 6px 13px 0px rgba(98, 104, 115, 0.14); }
  .item__info {
    display: flex;
    align-items: center; }
    .item__info img {
      margin-right: 15px;
      width: 50px;
      height: 50px;
      border-radius: 8px;
      object-fit: cover; }
    .item__info p {
      color: #120812;
      font-size: 15px;
      font-weight: 700;
      line-height: 31px; }
  .item__content {
    display: flex;
    align-items: center; }
    .item__content p {
      margin-right: 20px;
      color: #22385f;
      font-size: 15px;
      font-weight: 700;
      position: relative;
      top: 1px; }
  .item__btn {
    width: 139px;
    font-size: 14px;
    font-weight: 600;
    height: 46px; }
    .item__btn img {
      margin-left: 5px;
      position: relative;
      top: -2px; }
  .item-wrap {
    margin-top: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 56px 50px;
    border-radius: 15px;
    background: radial-gradient(154.06% 80.81% at 75% 55%, #adb9cd, #96a6c0 100%); }
    .item-wrap__pic {
      position: absolute;
      right: 0;
      bottom: 0; }
    .item-wrap h2 {
      margin-bottom: 10px;
      color: white; }
    .item-wrap p {
      color: white;
      font-size: 15px;
      font-weight: 500;
      line-height: 23px;
      margin-bottom: 15px;
      width: 100%;
      max-width: 564px; }
    .item-wrap .header__links {
      margin-top: 20px; }
      .item-wrap .header__links a {
        height: 58px;
        font-size: 14px;
        font-weight: 700; }
      .item-wrap .header__links .header__btn {
        width: 204px; }
      .item-wrap .header__links .header__link {
        width: 221px; }

label.error {
  position: absolute;
  bottom: -22px;
  left: 3px;
  color: red !important;
  font-size: 12px !important;
  font-weight: 500;
  line-height: 23px; }

.pay {
  border-radius: 15px;
  padding: 90px 0;
  background: #22385f; }
  .pay__box {
    position: relative;
    align-items: center;
    justify-content: space-between; }
  .pay__fig {
    position: absolute;
    left: -307px;
    bottom: -97px;
    z-index: 0; }
  .pay__content {
    width: 100%;
    max-width: 470px; }
    .pay__content h2 {
      color: white;
      margin-bottom: 10px; }
    .pay__content p {
      color: white;
      font-size: 15px;
      font-weight: 500;
      line-height: 23px; }
  .pay__info {
    width: 100%;
    max-width: 737px;
    padding: 35px;
    border-radius: 15px;
    position: relative;
    z-index: 3;
    background: white; }
  .pay__form {
    width: 100%; }
    .pay__form label {
      display: block;
      margin-bottom: 3px;
      color: #121212;
      font-size: 13px;
      font-weight: 500;
      line-height: 23px; }
      .pay__form label span {
        color: red;
        font-size: 13px;
        font-weight: 500;
        line-height: 23px; }
    .pay__form .custom-checkbox + label, .pay__form .custom-checkbox + label + label {
      display: flex;
      align-items: center; }
      .pay__form .custom-checkbox + label p, .pay__form .custom-checkbox + label + label p {
        color: #686a6f;
        font-size: 13px;
        font-weight: 400;
        line-height: 17px; }
      .pay__form .custom-checkbox + label a, .pay__form .custom-checkbox + label + label a {
        color: #22385f; }
        .pay__form .custom-checkbox + label a:hover, .pay__form .custom-checkbox + label + label a:hover {
          color: #93bdff; }
    .pay__form .custom-checkbox + label::before, .pay__form .custom-checkbox + label + label::before {
      width: 24px;
      height: 24px;
      border-radius: 5px;
      background: #eaedf1;
      max-width: 24px;
      box-sizing: border-box;
      margin-right: 10px; }
    .pay__form .custom-checkbox:checked + label::before, .pay__form .custom-checkbox:checked + label + label::before {
      background: url(../img/check.svg) no-repeat center center;
      background-color: #22385f; }
  .pay__item {
    margin-bottom: 10px;
    width: 100%;
    position: relative; }
    .pay__item textarea {
      width: 100%;
      max-width: 100%;
      padding: 10px 0 0 15px;
      min-height: 102px;
      box-sizing: border-box;
      border: 1px solid #efefef;
      border-radius: 7px;
      background: white;
      font-size: 13px;
      font-weight: 500; }
      .pay__item textarea:focus {
        border: 1px solid #93bdff !important; }
    .pay__item input {
      width: 100%;
      height: 50px;
      box-sizing: border-box;
      border: 1px solid #efefef;
      border-radius: 7px;
      background: white;
      padding-left: 15px;
      font-size: 13px;
      font-weight: 500; }
      .pay__item input:focus {
        border: 1px solid #93bdff !important; }
    .pay__item input::-webkit-input-placeholder, .pay__item textarea::-webkit-input-placeholder {
      color: #9c9c9c !important; }
    .pay__item input::-moz-placeholder, .pay__item textarea::-moz-placeholder {
      color: #9c9c9c !important; }
    .pay__item input:-ms-input-placeholder, .pay__item textarea:-ms-input-placeholder {
      color: #9c9c9c !important; }
    .pay__item input:-moz-placeholder, .pay__item textarea:-moz-placeholder {
      color: #9c9c9c !important; }
    .pay__item_2 .error {
      opacity: 1; }
  .pay__block {
    align-items: center;
    justify-content: space-between;
    border-radius: 9px;
    background: #f7f7f9;
    padding: 15px;
    margin-top: 10px; }
    .pay__block p:first-child {
      color: #1d2636;
      font-size: 15px;
      font-weight: 600;
      line-height: 23px; }
    .pay__block p:nth-child(2) {
      color: #22385f;
      font-size: 19px;
      font-weight: 600;
      line-height: 23px; }
  .pay__bottom {
    align-items: center;
    margin-top: 20px; }
  .pay__btn {
    width: 210px;
    height: 70px;
    margin-right: 15px; }
  .pay__flex {
    justify-content: space-between; }
    .pay__flex .pay__item {
      width: 48.5%; }
  .pay__area {
    position: relative; }

.about {
  background: white;
  border-radius: 15px;
  padding: 90px 0; }
  .about__box {
    align-items: center;
    justify-content: space-between; }
  .about__content {
    max-width: 640px;
    width: 100%; }
    .about__content h2 {
      margin-bottom: 20px; }
    .about__content p {
      margin-bottom: 20px;
      color: #494949;
      font-size: 15px;
      font-weight: 500;
      line-height: 23px; }
  .about__btn {
    width: 263px;
    font-size: 14px;
    height: 58px;
    margin-top: 20px; }
  .about__wrap {
    position: relative;
    overflow: hidden;
    height: 441px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 5px 5px 0;
    max-width: 570px;
    z-index: 2;
    border-radius: 12px; }
    .about__wrap img {
      width: 100%;
      height: 100%;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover; }
  .about__block {
    width: 280px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
    border-radius: 7px;
    background: white; }
    .about__block span {
      color: #22385f;
      font-size: 30px;
      font-weight: 700;
      line-height: 27px;
      display: block;
      margin-bottom: 7px; }
    .about__block p {
      color: #34373c;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px; }
    .about__block:nth-child(n+2) {
      margin-bottom: 5px;
      margin-left: auto; }
    .about__block_2 {
      margin-top: auto; }

.swiper-button-disabled {
  opacity: 0 !important;
  pointer-events: none; }

.rev {
  border-radius: 15px;
  background: #f9f9f9;
  padding: 90px 0; }
  .rev .swiper1 {
    overflow: hidden;
    margin-top: 35px; }
    .rev .swiper1 .swiper-slide {
      border-radius: 12px;
      background: white;
      padding: 30px; }
  .rev__box {
    position: relative; }
  .rev-arr {
    position: absolute;
    top: 179px;
    left: -65px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    width: 43px;
    height: 43px;
    box-shadow: 0px 9px 12px 0px rgba(19, 23, 32, 0.03);
    box-sizing: border-box;
    border: 1px solid #f3f4f8;
    background: white;
    border-radius: 50%;
    z-index: 8; }
    .rev-arr .icon {
      width: 7px;
      height: 11px; }
    .rev-arr:hover {
      background: #22385f; }
      .rev-arr:hover .icon {
        fill: white; }
  .rev .swiper-button-next1 {
    left: inherit;
    right: -65px; }
  .rev__name {
    color: #1d2636;
    font-size: 19px;
    font-weight: 600;
    line-height: 27px; }
  .rev__job {
    color: #22385f;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 10px; }
  .rev__text {
    color: #494949;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 10px; }
  .rev__time {
    color: #121212;
    font-size: 13px;
    font-weight: 600;
    line-height: 27px; }
  .rev__btn {
    width: 212px;
    height: 58px;
    margin: 35px auto 0;
    font-size: 14px;
    font-weight: 700; }

.memory {
  background: white;
  padding: 90px 0; }
  .memory__box {
    position: relative;
    padding: 50px;
    border-radius: 15px;
    background: #22385f; }
  .memory__pic {
    position: absolute;
    right: 89px;
    bottom: 0; }
  .memory__fig {
    position: absolute;
    right: -45px;
    bottom: -521px; }
  .memory__content {
    width: 100%;
    max-width: 488px; }
    .memory__content h2 {
      color: white;
      margin-bottom: 10px; }
    .memory__content p {
      margin-bottom: 15px;
      color: white;
      font-size: 15px;
      font-weight: 500;
      line-height: 23px; }
  .memory__btn {
    width: 199px;
    height: 58px;
    font-size: 14px;
    font-weight: 700; }

.map {
  position: relative;
  height: 520px;
  width: 100%; }
  .map #map {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .map__block {
    position: relative;
    z-index: 3;
    padding: 25px;
    margin-top: 160px;
    border-radius: 12px;
    background: white;
    width: 100%;
    max-width: 305px; }
  .map__info {
    margin-bottom: 17px;
    color: #121212;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px; }
  .map__tel {
    color: #121212;
    font-size: 15px;
    font-weight: 700;
    line-height: 23px; }
    .map__tel:hover {
      color: #93bdff; }
  .map__sub {
    color: #717274;
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 17px; }
  .map__mail {
    color: #22385f;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid rgba(34, 56, 95, 0.5);
    line-height: 23px; }
    .map__mail:hover {
      color: #93bdff;
      border-bottom: 1px solid #93bdff; }

.footer {
  padding: 30px 0 20px;
  background: white; }
  .footer__box {
    align-items: center;
    justify-content: space-between; }
    .footer__box ul {
      display: flex;
      flex-wrap: wrap; }
      .footer__box ul li {
        margin-right: 55px; }
        .footer__box ul li:last-child {
          margin-right: 0; }
        .footer__box ul li a {
          color: #121212;
          font-size: 13px;
          font-weight: 500;
          line-height: 23px; }
        .footer__box ul li:hover a {
          color: #93bdff; }
  .footer__btn {
    width: 161px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
    height: 45px; }
  .footer__content {
    align-items: center; }
  .footer__info a {
    text-align: right;
    display: block;
    color: #1d2636;
    font-size: 15px;
    font-weight: 700;
    width: max-content;
    margin-left: auto;
    line-height: 23px; }
    .footer__info a:hover {
      color: #93bdff; }
  .footer__info p {
    color: #717274;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: right; }
  .footer__row {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #EEF0F3; }
    .footer__row p {
      color: #717274;
      font-size: 12px;
      font-weight: 500; }
  .footer__bottom {
    align-items: center;
    justify-content: space-between; }
  .footer__com {
    color: #3a4b68;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px; }
    .footer__com:hover {
      color: #93bdff; }
  .footer__policy {
    color: #717274;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px; }
    .footer__policy:hover {
      color: #93bdff; }

.dropholder {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #efefef;
  border-radius: 7px;
  background: white;
  padding-left: 15px;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  .dropholder p {
    margin: 0;
    color: #121212;
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    margin-top: 12px; }

.dropdown {
  float: left;
  cursor: pointer;
  position: relative;
  width: 100%;
  padding-left: 0px;
  box-sizing: border-box; }
  .dropdown:after {
    content: "";
    position: absolute;
    background: url(../img/own.svg) no-repeat center center;
    right: 0px;
    height: 50px;
    width: 50px;
    pointer-events: none;
    top: 0px;
    border-left: 1px solid #efefef;
    display: block; }
  .dropdown.active + .dropdownMenu {
    display: block; }
  .dropdown.active:after {
    border-left: none;
    top: -2px;
    border-right: 1px solid #efefef;
    transform: rotate(181deg); }

.dropdownMenu {
  padding: 0;
  position: absolute;
  left: 0;
  top: 55px;
  right: 0;
  margin: 0;
  cursor: pointer;
  display: none;
  z-index: 5;
  overflow: hidden;
  background: white;
  border: 1px solid #efefef;
  border-radius: 7px 7px; }
  .dropdownMenu li {
    height: 50px;
    list-style: none;
    display: flex;
    padding-left: 15px;
    color: #121212;
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    align-items: center;
    transition: 0.5s; }
    .dropdownMenu li:hover {
      background: #22385f;
      color: white; }
    .dropdownMenu li:last-child {
      border: none; }

.page .nav {
  background: white; }

.page header {
  padding-bottom: 0; }

.page .nav__btn {
  background: #22385f;
  color: white;
  border: 1px solid #22385f; }
  .page .nav__btn:hover {
    border: 1px solid #93bdff;
    background: #93bdff; }

.page h1 {
  font-size: 48px;
  line-height: 55px; }

.section {
  padding: 40px 0 90px; }

.bread {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  align-items: center; }
  .bread a {
    color: #1d2636;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    line-height: 22px; }
    .bread a:last-child {
      color: #1d2636;
      opacity: 0.4; }
      .bread a:last-child:after {
        display: none; }
    .bread a:after {
      content: "";
      width: 19px;
      display: inline-flex;
      height: 1px;
      background: #1d2636;
      opacity: 0.2;
      margin: 0 10px; }
    .bread a:hover {
      color: #93bdff; }

.policy h2 {
  margin-bottom: 15px;
  color: black;
  font-size: 19px;
  font-weight: 600;
  line-height: 27px;
  margin-top: 25px; }

.policy p {
  color: #1f2226;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 15px; }
  .policy p span {
    display: block;
    font-size: 17px;
    font-weight: 700;
    margin-top: 20px; }

.policy ul {
  margin-bottom: 10px; }
  .policy ul li {
    color: #1f2226;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    line-height: 22px;
    margin-bottom: 8px; }
    .policy ul li:before {
      content: "";
      display: inline-flex;
      width: 5px;
      height: 5px;
      box-shadow: 0px 0px 24px 0px rgba(255, 96, 1, 0.61);
      background: #93bdff;
      max-width: 5px;
      margin-right: 10px;
      margin-top: 9px;
      flex: 1 0 auto; }

.err {
  overflow: hidden; }
  .err__box {
    align-items: center;
    margin-top: 50px;
    position: relative; }
  .err__fig {
    position: absolute;
    right: -299px;
    top: -123px;
    z-index: -1; }
  .err__content {
    width: 100%;
    max-width: 460px;
    position: relative;
    z-index: 2;
    margin-left: 54px; }
    .err__content h3 {
      margin-top: 0;
      margin-bottom: 15px;
      color: #292929;
      font-size: 19px;
      font-weight: 600;
      line-height: 27px; }
    .err__content p {
      color: #292929;
      font-size: 15px;
      font-weight: 500;
      line-height: 23px;
      margin-bottom: 15px; }
    .err__content a {
      width: 297px;
      height: 70px;
      font-size: 16px;
      font-weight: 600; }

.err2 {
  padding: 40px 0 80px;
  background: white; }
  .err2__box {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 50px;
    border-radius: 15px;
    background: #22385f; }
    .err2__box h2 {
      color: white;
      width: 100%;
      max-width: 578px;
      margin-bottom: 10px;
      position: relative;
      z-index: 2; }
    .err2__box p {
      margin-bottom: 20px;
      color: white;
      font-size: 15px;
      font-weight: 500;
      line-height: 23px;
      width: 100%;
      max-width: 578px;
      z-index: 2;
      position: relative; }
  .err2__fig {
    position: absolute;
    right: -194px;
    bottom: -25px;
    z-index: 0; }
  .err2 .pay__form {
    position: relative;
    z-index: 2; }
    .err2 .pay__form .pay__item {
      width: 250px;
      margin-right: 15px; }
    .err2 .pay__form .pay__flex {
      justify-content: flex-start; }
    .err2 .pay__form button {
      width: 177px;
      height: 51px;
      background: #93bdff;
      font-size: 14px;
      font-weight: 700;
      margin-right: 0; }
    .err2 .pay__form .custom-checkbox:checked + label::before {
      background: url(../img/check.svg) no-repeat center center;
      background-color: #93bdff;
      border: 1px solid #93bdff; }
    .err2 .pay__form .custom-checkbox:checked {
      margin-top: -13px; }
    .err2 .pay__form .custom-checkbox + label p, .err2 .pay__form .custom-checkbox + label + label p {
      font-size: 13px;
      font-weight: 400;
      color: white;
      margin-bottom: 0;
      max-width: 100%;
      line-height: 120%; }
    .err2 .pay__form .custom-checkbox + label a, .err2 .pay__form .custom-checkbox + label + label a {
      color: #93bdff;
      margin-left: 3px; }
      .err2 .pay__form .custom-checkbox + label a:hover, .err2 .pay__form .custom-checkbox + label + label a:hover {
        color: white; }

.contacts__row {
  margin-top: 30px;
  justify-content: space-between; }

.contacts__item {
  width: 24.3%;
  padding: 25px 35px;
  border-radius: 12px;
  background: white; }
  .contacts__item img {
    margin-bottom: 15px; }

.contacts__name {
  color: #1d2636;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 8px; }

.contacts__tel {
  color: #121212;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 8px;
  width: max-content;
  line-height: 22px;
  display: block; }
  .contacts__tel:hover {
    color: #93bdff; }

.contacts__btn {
  width: 161px;
  height: 45px;
  font-size: 14px; }

.contacts__mail {
  color: #22385f;
  font-size: 15px;
  display: block;
  width: max-content;
  font-weight: 500;
  line-height: 23px;
  border-bottom: 1px solid #22385f;
  margin-bottom: 5px; }
  .contacts__mail:hover {
    color: #93bdff;
    border-bottom: 1px solid #93bdff; }

.contacts__sub {
  color: #474c55;
  font-size: 14px;
  line-height: 22px; }

.contacts__local {
  display: block;
  width: max-content;
  margin-top: 5px;
  color: #22385f;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  border-bottom: 1px dashed #22385f; }
  .contacts__local:hover {
    color: #93bdff;
    border-bottom: 1px dashed #93bdff; }

.pay2 .pay__fig {
  bottom: -180px; }

.map2 {
  margin-top: 10px;
  border-radius: 15px;
  overflow: hidden;
  height: 520px; }

.pro {
  padding: 40px 0; }
  .pro h1 {
    margin-bottom: 30px; }
  .pro__wrap {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 50px 0;
    border-radius: 15px;
    margin-bottom: 35px; }
    .pro__wrap:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: rgba(29, 38, 54, 0.59); }
  .pro__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    object-fit: cover; }
  .pro__content {
    width: 100%;
    max-width: 563px; }
    .pro__content h2 {
      color: white;
      font-size: 36px;
      font-weight: 600;
      line-height: 27px;
      margin-bottom: 13px; }
    .pro__content p {
      color: white;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px; }
  .pro__box {
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: space-between; }
  .pro .item__box {
    padding: 0; }
  .pro__name {
    color: black;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 20px; }
  .pro__sum {
    color: #121212;
    font-size: 15px;
    font-weight: 700;
    line-height: 31px; }

.memory2 {
  padding-bottom: 0;
  overflow: hidden; }
  .memory2 .memory__fig {
    right: -5px; }

.footer2 {
  padding-top: 90px; }

.ab {
  overflow: hidden;
  padding-bottom: 120px; }
  .ab__box {
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 35px;
    position: relative; }
  .ab__fig {
    position: absolute;
    bottom: -314px;
    right: -335px;
    z-index: -1; }
  .ab__pic {
    width: 570px;
    height: 458px;
    border-radius: 12px;
    object-fit: cover; }
  .ab__content {
    width: 100%;
    max-width: 650px; }
  .ab__text p {
    color: #1d2636;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 20px; }
    .ab__text p span {
      font-weight: 800; }
  .ab__item {
    height: 121px;
    padding: 15px 25px;
    border-radius: 7px;
    background: white;
    margin-right: 8px;
    width: 33%; }
    .ab__item:last-child {
      margin-right: 0; }
    .ab__item span {
      margin-bottom: 20px;
      color: #22385f;
      font-size: 25px;
      font-weight: 700;
      line-height: 27px;
      display: block; }
    .ab__item p {
      color: #34373c;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px; }

.ser {
  padding: 90px 0;
  background: white; }
  .ser .swiper2 {
    margin-top: 50px; }
    .ser .swiper2 .swiper-slide {
      box-shadow: 1px 12px 26px 0px rgba(0, 0, 0, 0.1), 5px 48px 48px 0px rgba(0, 0, 0, 0.09), 12px 107px 65px 0px rgba(0, 0, 0, 0.05), 21px 190px 77px 0px rgba(0, 0, 0, 0.01), 32px 298px 84px 0px rgba(0, 0, 0, 0);
      position: relative;
      border: 12px solid #1d2636;
      height: 560px;
      transition: 0.5s; }
      .ser .swiper2 .swiper-slide a {
        display: block;
        height: 100%;
        width: 100%; }
        .ser .swiper2 .swiper-slide a img {
          width: 100%;
          object-fit: cover;
          height: 100%; }
      .ser .swiper2 .swiper-slide:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background: rgba(29, 38, 54, 0.84);
        opacity: 0;
        transition: 0.5s;
        pointer-events: none; }
      .ser .swiper2 .swiper-slide:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        background: url(../img/lupe.svg) no-repeat center center;
        left: 50%;
        width: 90px;
        height: 90px;
        margin-top: -45px;
        margin-left: -45px;
        transition: 0.5s;
        z-index: 1;
        opacity: 0;
        pointer-events: none; }
      .ser .swiper2 .swiper-slide:hover:after {
        opacity: 1; }
      .ser .swiper2 .swiper-slide:hover:before {
        opacity: 1; }
  .ser .container {
    position: relative; }
  .ser .rev-arr {
    top: 53%;
    left: -50px; }
  .ser .swiper-button-next2 {
    left: inherit !important;
    right: -50px; }

@media screen and (max-width: 1400px) {
  .header__pic {
    width: 57%; }
  .header__fig {
    right: -72px;
    bottom: -148px;
    width: 62%; }
  .item-wrap__pic {
    right: -55px; }
  .about__wrap {
    margin-left: 20px; }
  .rev-arr {
    left: -16px; }
  .rev .swiper-button-next1 {
    right: -16px;
    left: inherit; }
  .ab__pic {
    height: 480px;
    margin-left: 25px; }
  .ser .swiper2 .swiper-slide {
    height: 500px; }
  .ser .rev-arr {
    left: 13px; }
  .ser .swiper-button-next2 {
    right: 13px; } }

@media screen and (max-width: 1199px) {
  .nav__info, .nav ul {
    display: none; }
  .nav__info {
    margin-right: 86px; }
  .header__box {
    flex-direction: column;
    align-items: flex-start; }
  .header__pic {
    width: 60%;
    left: 0;
    top: 0;
    margin: 30px auto 0; }
  .header__fig {
    right: inherit;
    left: 50%;
    width: 600px;
    margin-left: -300px; }
  .header {
    padding-bottom: 70px;
    overflow: hidden; }
  .menu-btn {
    width: 48px;
    height: 24px;
    position: absolute;
    right: 28px;
    top: 36px;
    z-index: 25;
    overflow: hidden; }
  .menu-btn span {
    width: 38px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    transition: all 0.5s; }
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 8.5px);
    width: 38px;
    height: 2px; }
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 9.4px);
    width: 38px;
    height: 2px; }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    padding: 100px 40px 40px;
    background: #e5eaf1;
    transform: translateX(500%);
    transition: transform 0.5s;
    z-index: 7;
    overflow: hidden;
    -webkit-box-shadow: -11px 0px 28px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -11px 0px 28px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -11px 0px 28px -12px rgba(0, 0, 0, 0.75);
    text-align: right; }
    .menu .nav__btn {
      margin: 20px 0 0 0; }
    .menu .nav__info {
      display: flex;
      margin-top: 30px;
      margin-right: 0;
      align-items: flex-end;
      justify-content: flex-end;
      margin-left: auto;
      flex-direction: column; }
    .menu li {
      margin-bottom: 25px; }
      .menu li a {
        font-size: 18px;
        font-weight: 500;
        color: #121212; }
  .menu.active {
    transform: translateX(0); }
  .menu-btn.active {
    overflow: visible;
    position: fixed; }
  .menu-btn.active span:nth-of-type(1) {
    display: none; }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    width: 24px;
    transform: translate(-50%, 0%) rotate(45deg);
    margin-left: 0; }
  .menu-btn.active span:nth-of-type(3) {
    width: 24px;
    top: 50%;
    transform: translate(-50%, 0%) rotate(-44deg);
    margin-left: 0; }
  .menu-btn, .menu {
    display: block; }
  .header__box {
    margin-top: 30px; }
  .info__box {
    flex-wrap: wrap; }
  .info__item {
    width: 49%;
    margin-bottom: 20px; }
  .item__btn {
    width: 125px; }
  .item__content p {
    font-size: 14px;
    margin-right: 15px; }
  .item__block {
    height: auto; }
  .item__info p {
    font-size: 14px; }
  .item__info img {
    width: 45px;
    height: 45px; }
  .item-wrap__pic {
    z-index: 0;
    opacity: 0.2; }
  .item-wrap p {
    position: relative;
    z-index: 2; }
  .pay__box {
    flex-direction: column;
    align-items: flex-start; }
  .pay__info {
    max-width: 100%;
    margin-top: 30px; }
  .memory__pic {
    z-index: 0;
    opacity: 0.3; }
  .memory__content {
    position: relative;
    z-index: 2; }
  .footer__box {
    flex-direction: column; }
  .footer__box ul {
    margin: 25px auto; }
  .info, .item, .pay, .about, .rev {
    padding: 60px 0; }
  .memory__box {
    overflow: hidden; }
  .err2__fig {
    opacity: 0.2; }
  .err__box {
    margin-top: 40px;
    flex-direction: column; }
  .err__content {
    margin-left: 0;
    margin-top: 20px; }
  .contacts__item {
    padding: 20px; }
  .pay2 .pay__fig {
    bottom: 0;
    left: inherit;
    right: -300px; }
  .pro__sum {
    font-size: 14px; }
  .ab__box {
    flex-direction: column-reverse;
    align-items: center; }
  .ab__pic {
    margin-left: 0;
    margin-bottom: 20px;
    width: 100%; }
  .ab__content {
    max-width: 100%; }
  .ser .swiper2 .swiper-slide {
    height: 600px; }
  .ser {
    padding: 60px 0; }
  .ab {
    padding-bottom: 60px; } }

@media (max-width: 991px) {
  input, textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  h1 {
    font-size: 50px; }
  .header__content p {
    font-size: 17px; }
  h2 {
    font-size: 40px;
    line-height: 120%; }
  .info__box {
    margin-top: 30px; }
  .item__block {
    width: 100%; }
  .about__box {
    flex-direction: column; }
  .about__wrap {
    margin: 30px auto 0;
    max-width: 100%; }
  .about__content {
    max-width: 100%; }
  .rev-arr {
    left: -19px; }
  .rev .swiper-button-next1 {
    right: -19px;
    left: inherit; }
  .memory {
    padding: 60px 0; }
  .page h1 {
    font-size: 40px;
    line-height: 120%; }
  .err2__box {
    padding: 30px 20px; }
  .contacts__row {
    margin-top: 20px;
    flex-wrap: wrap; }
  .contacts__item {
    width: 48.5%;
    margin-bottom: 20px; }
  .pro__box {
    flex-direction: column; }
  .pro__content {
    max-width: 100%; }
  .pro .header__link {
    margin-top: 25px; }
  .ab__pic {
    height: 400px; }
  .ser .swiper2 .swiper-slide {
    height: 500px; } }

@media screen and (max-width: 767px) {
  .header__pic {
    width: 85%; }
  .header {
    padding-bottom: 20px; }
  .header__fig {
    width: 500px;
    margin-left: -250px; }
  .info__item {
    width: 48.2%; }
  .item .tabs__nav {
    flex-direction: column;
    align-items: center;
    border: none !important; }
    .item .tabs__nav a {
      white-space: nowrap;
      width: 100%;
      border: none !important;
      border-bottom: 1px solid #e4e4e4 !important;
      padding: 0 30px; }
      .item .tabs__nav a:after {
        display: none; }
      .item .tabs__nav a:last-child {
        border: none !important; }
  .item .tabs__nav a.tabs__btn_active p {
    color: #93bdff; }
  .item__box {
    padding: 20px; }
  .item-wrap__pic {
    display: none; }
  .pay__bottom {
    flex-direction: column; }
  .pay__btn {
    margin-right: 0;
    margin: 20px auto; }
  .footer__bottom {
    flex-direction: column; }
  .footer__com {
    margin: 15px auto; }
  .map {
    height: 400px; }
  .map__block {
    margin-top: 100px; }
  .memory__box {
    padding: 20px 20px 30px; }
  h2 {
    font-size: 36px; }
  .menu {
    width: 100%; }
  .popup2 {
    width: 95%;
    padding: 35px 20px; }
  .err__pic {
    width: 100%; }
  .err2 .pay__form .pay__flex {
    flex-direction: column; }
  .err2 .pay__form .pay__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px; }
  .err2 .pay__form button {
    width: 100%; }
  .err2 .pay__form .custom-checkbox + label a {
    margin-left: 0; }
  .contacts {
    padding: 40px 0; }
  .map2 {
    height: 350px; }
  .pay__bottom {
    margin-top: 10px; }
  .err2 {
    padding: 40px 0; }
  .pro__sum {
    margin: 10px 0 -10px; }
  .ab__item {
    height: auto; }
  .ser .swiper2 {
    margin-top: 30px; }
  .ser .swiper2 .swiper-slide {
    height: 400px;
    border: 4px solid #1d2636; } }

@media screen and (max-width: 576px) {
  button:active, button:focus {
    outline: none; }
  button::-moz-focus-inner {
    border: 0; }
  a:active, a:focus {
    outline: none; }
  input, textarea {
    outline: none; }
  input:active, textarea:active {
    outline: none; }
  input:focusout {
    outline: none; }
  .mob {
    display: block; }
  .mm {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .mm li {
      margin-bottom: 40px !important;
      width: 100% !important;
      margin-top: 0 !important; }
  .menu-btn {
    right: 15px; }
  .menu {
    padding: 100px 33px 40px; }
  .header__box {
    margin-top: 20px; }
  h1 {
    font-size: 36px; }
  .header__content h1 {
    margin-bottom: 15px; }
  .header__content p {
    font-size: 16px;
    line-height: 160%; }
    .header__content p br {
      display: none; }
  .header__links {
    flex-direction: column; }
  .header__links a {
    margin-right: 0 !important;
    margin-bottom: 15px;
    width: 100%;
    height: 55px;
    font-size: 14px; }
  .pay__btn, .about__btn, .rev__btn, .memory__btn {
    width: 100%;
    height: 55px;
    font-size: 14px; }
  .header__fig {
    width: 300px;
    bottom: -51px;
    margin-left: -150px; }
  .info, .item, .pay, .about, .rev {
    padding: 40px 0; }
  h2 {
    font-size: 32px; }
  .info__item {
    padding: 20px;
    width: 100%; }
  .item h2 {
    text-align: center; }
  .item__block {
    flex-direction: column; }
  .item__content {
    margin-top: 25px; }
  .item-wrap {
    margin-top: 20px;
    padding: 20px; }
  .item-wrap p {
    font-size: 14px;
    margin-bottom: 10px; }
  .item-wrap .header__links a {
    width: 100% !important; }
  .pay__content p {
    font-size: 14px; }
  .pay__flex {
    flex-direction: column; }
  .pay__flex .pay__item {
    width: 100%; }
  .pay__info {
    padding: 20px; }
  .pay__block {
    flex-direction: column;
    text-align: center; }
  .pay__block p:first-child {
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 15px; }
  .pay__bottom {
    margin-top: 10px; }
  .pay__form .custom-checkbox + label p, .pay__form .custom-checkbox + label + label p {
    font-size: 12px; }
    .pay__form .custom-checkbox + label p br, .pay__form .custom-checkbox + label + label p br {
      display: none; }
  .pay__form .custom-checkbox + label, .pay__form .custom-checkbox + label + label {
    align-items: flex-start; }
  .about__content p {
    font-size: 14px;
    margin-bottom: 10px; }
  .about__block {
    padding: 20px;
    height: 100px;
    width: 240px; }
  .about__block p {
    font-size: 12px; }
  .rev .swiper1 {
    margin: 30px auto 0;
    width: 94%; }
  .rev__text {
    font-size: 13px; }
  .rev-arr {
    left: -11px; }
  .rev .swiper-button-next1 {
    right: -11px;
    left: inherit; }
  .rev__btn {
    margin-top: 20px; }
  .map__block {
    margin-top: 87px; }
  .footer__box ul {
    flex-direction: column;
    text-align: center; }
  .footer__box ul li {
    margin-right: 0;
    margin-bottom: 10px; }
    .footer__box ul li:last-child {
      margin-bottom: 0; }
  .footer__content {
    flex-direction: column;
    text-align: center; }
  .footer .footer__info a {
    margin: 0 auto 5px; }
  .footer .footer__info p {
    margin-bottom: 10px; }
  .popup.active, .popup2.active, .popup3.active, .popup6.active, .popup4.active {
    width: 95%;
    padding: 35px 20px; }
  .page h1 {
    font-size: 29px; }
  .section {
    padding: 40px 0; }
  .err__content a {
    width: 100%;
    height: 60px;
    font-size: 15px; }
  .err__fig {
    right: -399px;
    top: -123px; }
  .err2__box h2 {
    font-size: 30px; }
  .err2__box p {
    font-size: 14px; }
  .err2 .pay__form button {
    margin-top: 0; }
  .err__content p {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 15px; }
  .contacts__item {
    width: 100%;
    text-align: center; }
    .contacts__item a {
      margin: 10px auto; }
  .contacts__item img {
    margin-bottom: 10px; }
  .pay__bottom {
    margin-top: 0; }
  .pro__wrap {
    padding: 30px 20px; }
  .pro__content h2 {
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 10px; }
  .pro__content p {
    font-size: 13px; }
  .pro .header__link {
    width: 100%;
    height: 60px;
    font-size: 15px; }
  .memory__content h2 {
    font-size: 28px; }
  .memory__content p {
    font-size: 14px; }
  .footer2 {
    padding-top: 20px; }
  .item__block:last-child {
    margin-bottom: 0; }
  .ab__box {
    margin-top: 30px; }
  .ab__pic {
    height: 280px; }
  .ab__text p {
    font-size: 14px;
    margin-bottom: 10px; }
  .ab__row {
    flex-direction: column;
    margin-top: 20px; }
  .ab__item {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center; }
  .ab__item span {
    margin-bottom: 10px; }
  .ser {
    padding: 40px 0 60px; }
  .swiper2 {
    overflow: hidden; }
  .ser .swiper2 .swiper-slide {
    height: 447px; }
    .ser .swiper2 .swiper-slide:after, .ser .swiper2 .swiper-slide:before {
      display: none; } }
